/* Estilos específicos para desktop */
@media (min-width: 900px) {
    .main {
        max-width: 1920px;
        margin: 0 auto;
        background-color: orange;
        box-sizing: content-box;
    width: 100%;

    }

    .menu {
        display: flex;
        justify-content: flex-end;
        
    }
}
