/* Reset de estilos y reglas generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 5px solid red;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid blue;
}

.logo h1 {
    margin-bottom: 5px;
}

nav {
    margin-top: 10px;
    border: 5px solid green;
}

.menu {
    list-style: none;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.hamburguesa {
    display: flex;
    font-size: 24px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}
.noticias-principales {
    border: 5px solid green;
}
.noticias-secundarias{
    border: 5px solid red;
}